.env
.env.*
!.env.example
.env1

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

dist/
build/
*.egg-info/
report.md
todo.md
list.py
nodes/desktop/scripts/*
.deps_installed