.env
.env.*
!.env.example

pwa/config.js

**pycache**/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

dist/
build/
*.egg-info/
report.md
todo.md
list.py
nodes/desktop/scripts/*